
<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        ଓଡ଼ିଆ
      </button>
    <div class="flex flex-col lg:flex-row justify-between gap-8">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4" style="color: #25312d;">Our Mission</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white" style="color: #25312d; font-weight:800;">At Krishi Sahayata, our mission is to revolutionize crop insurance through innovation and technology. We understand the challenges faced by farmers and the government alike, and our solution aims to bridge the gap by providing a comprehensive platform for seamless crop insurance services.
            </p>
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4" style="color: #25312d;">Features Included</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white" style="color: #25312d; font-weight:800;">Crop Insurance is an integrated IT solution and a web-based ecosystem designed to streamline service delivery, unify fragmented databases, and eliminate manual processes. Our platform offers features such as:

            </p>
            <ul style="color: #25312d; font-weight:800;" class="list-disc ml-2 text-lg mb-4">
                <li>Local-language support for enhanced accessibility</li>
                <li>SMS notifications and helpline support for farmers</li>
                <li>Verification of claims using meteorological data</li>
                <li>Transparent administration through Aadhar integration</li>
                <li>Guidance on insurance policies and video tutorials for farmer awareness</li>
              </ul>
        </div>
        <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="./assets/about-img.jpg" alt="A group of People" />
        </div>
    </div>

    <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
        <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4">Our Story</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">We are a group of passionate 3rd-year students at Siksha 'O' Anusandhan University, driven by our shared love for technology and our commitment to solving real-world problems.
            </p>
            
        </div>
        <div class="w-full lg:w-8/12 lg:pt-8 flex items-center justify-around">
            <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full h-32 a" src="./assets/appi.jpg" alt="Alexa featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/zHjXqg4/Rectangle-118.png" alt="Alexa featured Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Sudiksha</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full h-32 a" src="./assets/otp1.jpg" alt="Olivia featured Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/NrWKJ1M/Rectangle-119.png" alt="Olivia featured Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">OTP</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full h-32 a" src="./assets/sumit.jpg" alt="Liam featued Image" />
                    <img class="md:hidden block" src="https://i.ibb.co/C5MMBcs/Rectangle-120.png" alt="Liam featued Image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Sumit</p>
                </div>
                <div class="p-4 pb-6 flex justify-center flex-col items-center">
                    <img class="md:block hidden rounded-full h-32 a" src="./assets/smriti.jpg" alt="Elijah featured image" />
                    <img class="md:hidden block" src="https://i.ibb.co/ThZBWxH/Rectangle-121.png" alt="Elijah featured image" />
                    <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Smriti</p>
                </div>
                <div class=" p-4 pb-6 flex justify-center flex-col items-center" style="display: flex; justify-content: center; align-items: center;">
                    <img class="ml-96 md:block hidden rounded-full h-32a" src="./assets/chanchal.jpg" alt="Elijah featured image" />
                    <img class="md:hidden block" src="https://i.ibb.co/ThZBWxH/Rectangle-121.png" alt="Elijah featured image" />
                    <p class="ml-96 font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Chanchal</p>
                </div>
            </div>
        </div>
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        ଓଡ଼ିଆ
      </button>
</div>
