<div class="container">
        <header>FARMER DETAILS</header>
        <form action="#">
            <div class="form first">

             <div class="details personal">
                <span class="title">Personal Details</span>
                <div class="fields">
                <div class="input-field">
                    <label > Full name</label>
                    <input type="text" placeholder="Enter Your name" required>
                </div>

                <div class="input-field">
                    <label >Relationship</label>
                    <input type="text" placeholder="Enter Relationship" required>
                </div>
                <div class="input-field">
                    <label >Guardian Name</label>
                    <input type="text" placeholder="Enter guardian Name" required>
                </div>

                <div class="input-field">
                    <label > Email</label>
                    <input type="text" placeholder="Enter Your emailId" required>
                </div>

                <div class="input-field">
                    <label > Mobile number</label>
                    <input type="number" placeholder="Enter Your number" required>
                </div>

                <div class="input-field">
                    <label > Age</label>
                    <input type="number" placeholder="Enter Your age" required>
                </div>

                <div class="input-field">
                    <label > Gender</label>
                    <input type="date" placeholder="Enter Gender" required>
                </div>
                <div class="input-field">
                    <label > Farmer type</label>
                    <input type="text" placeholder="Enter Farmer Type" required>
                </div>

                <div class="input-field">
                    <label > Occupation</label>
                    <input type="text" placeholder="Enter Your work" required>
                </div>
                </div>

             </div>

             <div class="details ID">
                <span class="title">Farmer ID</span>
                <div class="fields">
                <div class="input-field">
                    <label > ID number</label>
                    <input type="number" placeholder="Enter ID number" required>
                </div>
                </div>
             </div>
            </div>
            <div class="details personal">
                <span class="title">Account Details</span>
                <div class="fields">
                <div class="input-field">
                    <label >IFSC Code</label>
                    <input type="BigInt" placeholder="Enter Your IFSC code" required>
                </div>

                <div class="input-field">
                    <label >State</label>
                    <input type="text" placeholder="Enter state" required>
                </div>
                <div class="input-field">
                    <label >District</label>
                    <input type="text" placeholder="Enter district name" required>
                </div>

                <div class="input-field">
                    <label >Bank Name</label>
                    <input type="text" placeholder="Enter Your Bank Name" required>
                </div>

                <div class="input-field">
                    <label >Bank Branch number</label>
                    <input type="BigInt" placeholder="Enter Your number" required>
                </div>
                <div class="input-field">
                    <label >Savings Bank A/C no.</label>
                    <input type="BigInt" placeholder="Enter Your bank a/c no." required>
                </div>
                <div class="input-field">
                    <label >Confirms Saving Bank</label>
                    <input type="BigInt" placeholder="Confirms Bank A/C no." required>
                </div>

               </div>

           
            <div class="form second">

                <div class="details address">
                   <span class="title">Registration Details</span>
                   <div class="fields">
                   <div class="input-field">
                       <label > State</label>
                       <input type="text" placeholder="Enter Your state" required>
                   </div>
   
                   <div class="input-field">
                       <label > District</label>
                       <input type="text" placeholder="Enter Your district" required>
                   </div>
   
                   <div class="input-field">
                       <label >Sub-District</label>
                       <input type="number" placeholder="Enter Your subdistrict" required>
                   </div>
   
                   <div class="input-field">
                       <label >Residential Village/Town</label>
                       <input type="text" placeholder="Enter your village" required>
                   </div>
   
                   <div class="input-field">
                       <label >Address</label>
                       <input type="text" placeholder="Enter Your Full Address" required>
                   </div>
                   <div class="input-field">
                    <label >Pin Code</label>
                    <input type="number" placeholder="Enter The Pincode" required>
                </div>
                   </div>
   
                </div>
   
               
                   <button class="nextBtn">
                       <span class="btnT">Create User</span>
                       <i class="uil uil-navigator"></i>
                   </button>
   
                </div>
               </div>
        </form>
    </div>
 