<div class="container">
    <header>FARMER DETAILS</header>
    <form action="#">
      <div class="form first">
        <div class="details personal">
          <span class="title">Personal Details</span>
          <div class="fields">
            <div class="input-field">
              <label> Full name</label>
              <input type="text" placeholder="Enter Your name" required>
            </div>
  
            
            <!-- Other input fields -->
          </div>
        </div>
  
        <div class="details ID">
          <span class="title">Farmer ID</span>
          <div class="fields">
            <div class="input-field">
              <label> ID number</label>
              <input type="number" placeholder="Enter ID number" required>
            </div>
          </div>
        </div>
      </div>
  
      <div class="details personal">
        <span class="title">Account Details</span>
        <div class="fields">
          <!-- Account Details input fields -->
          <div class="input-field">
            <label>IFSC Code</label>
            <input type="BigInt" placeholder="Enter Your IFSC code" required>
          </div>
  
          <div class="input-field">
            <label>State</label>
            <input type="text" placeholder="Enter state" required>
          </div>
          <div class="input-field">
            <label>District</label>
            <input type="text" placeholder="Enter district name" required>
          </div>
  
        </div>
      </div>
  
      <div class="form second">
        <div class="details address">
          <span class="title">Registration Details</span>
          <div class="fields">
            <!-- Registration Details input fields -->
            <div class="input-field">
              <label> State</label>
              <input type="text" placeholder="Enter Your state" required>
            </div>
  
            <div class="input-field">
              <label> District</label>
              <input type="text" placeholder="Enter Your district" required>
            </div>
            <div class="input-field">
              <label>Sub-District</label>
              <input type="number" placeholder="Enter Your subdistrict" required>
            </div>
  
            <div class="input-field">
              <label>Residential Village/Town</label>
              <input type="text" placeholder="Enter your village" required>
            </div>
  
            <div class="input-field">
              <label>Address</label>
              <input type="text" placeholder="Enter Your Full Address" required>
            </div>
            <div class="input-field">
              <label>Pin Code</label>
              <input type="number" placeholder="Enter The Pincode" required>
            </div>
  
          </div>
        </div>
  
        <button class="nextBtn">
          <span class="btnT">Submit your query!</span>
          <i class="uil uil-navigator"></i>
        </button>
      </div>
    </form>
  </div>
 