<div class=" w-full min-h-screen gap-4 flex-wrap flex justify-center items-center">

    <!-- Card -->
    <div class="p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class=" h-40 object-cover rounded-xl" h-40 object-cover rounded-xl src="./assets/farmer.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Application Status</h2>
      <!-- Description -->
      
      </div>
      <!-- CTA -->
      <div class="m-2">
      <a role='button' href='#' class="text-black-700 bg-white px-3 py-1 rounded-md hover:bg-green-300">Click Here !</a>
      </div>
    </div>
      <!-- Card -->
    <div class="w-60 p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class="h-40 object-cover rounded-xl" h-40 object-cover rounded-xl src="./assets/complaint.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Complain Panel</h2>
      <!-- Description -->
      
      </div>
      <!-- CTA -->
      <div class="m-2">
      <a role='button' href='#' class="text-black-700 bg-white px-3 py-1 rounded-md hover:bg-green-300">Click Here !</a>
      </div>
    </div>
    
      <!-- Card -->
    <div class="w-60 p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class="h-40 object-cover rounded-xl" h-40 object-cover rounded-xl src="./assets/claim.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Crop Loss Claim</h2>
      <!-- Description -->
      
      </div>
      <!-- CTA -->
      <div class="m-2">
      <a role='button' href='#' class="text-black-700 bg-white px-3 py-1 rounded-md hover:bg-green-300">Click Here !</a>
      </div>
    </div>
  
    
    
    
  
  </div>