<div class=" w-full min-h-screen gap-6 flex-wrap flex justify-center items-center">

<!-- Card -->
<a href="#" class="w-60">
  <div class="p-7 bg-green-400 rounded transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl border border-black">
    <!-- Image -->
    <img class="h-40 object-cover rounded-xl" src="./assets/farmer.png" alt="">
    <div class="p-2">
    <!-- Heading -->
    <h2 class="font-bold text-lg mb-2">Check Application Status</h2>
    <!-- Description -->
    </div>
    <!-- CTA -->
  </div>
</a>

<!-- Card -->
<a href="#">
    <div class="p-7 bg-green-400 rounded transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl border border-black">
      <!-- Image -->
      <img class="h-40 object-cover rounded-xl" src="./assets/complaint.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Report Crop Loss</h2>
      <!-- Description -->
      </div>
      <!-- CTA -->
    </div>
</a>

<!-- Card -->
<a href="#">
    <div class="w-60 p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class="h-40 object-cover rounded-xl" src="./assets/claim.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Crop Loss Claim Verification</h2>
      <!-- Description -->
      </div>
      <!-- CTA -->
    </div>
</a>

<!-- Card -->
<a href="#">
    <div class="w-60 p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class="h-40 object-cover rounded-xl" src="./assets/krishi-mitra.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Kirshi Mitra</h2>
      <!-- Description -->
      </div>
      <!-- CTA -->
    </div>
</a>

<!-- Card -->
<a href="#">
    <div class="w-60 p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class="h-50 object-cover rounded-xl" src="./assets/admin-login.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Admin Login</h2>
      <!-- Description -->
      </div>
      <!-- CTA -->
    </div>
</a>

<!-- Card -->
<a href="#">
    <div class="w-60 p-7 bg-green-400 rounded-s transform transition-all hover:-translate-y-2 duration-300 shadow-lg hover:shadow-2xl">
      <!-- Image -->
      <img class="h-40 object-cover rounded-xl" src="./assets/calculator.png" alt="">
      <div class="p-2">
      <!-- Heading -->
      <h2 class="font-bold text-lg mb-2 ">Insurance Premium Calculator</h2>
      <!-- Description -->
      </div>
      <!-- CTA -->
    </div>
</a>

  </div>